accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
async-timeout
attrs
bcrypt
beautifulsoup4
cachetools
cbor
certifi
cffi
charset-normalizer
click
colorama
dataclasses-json
datasets
Deprecated
deprecation
dill
dirtyjson
distro
dnspython
email-validator
exceptiongroup
filelock
filetype
FlagEmbedding
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
ijson
importlib-metadata
inscriptis
ir_datasets
itsdangerous
Jinja2
jiter
joblib
lancedb
llama-cloud
llama-index
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-gemini
llama-index-multi-modal-llms-gemini
llama-index-postprocessor-flag-embedding-reranker
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-lancedb
llama-parse
lxml
lz4
MarkupSafe
marshmallow
mpmath
multidict
multiprocess
mypy-extensions
nest-asyncio
networkx
nltk
numpy
overrides
packaging
pandas
peft
pillow
propcache
proto-plus
protobuf
psutil
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pylance
pyparsing
pypdf
python-dateutil
pytz
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
sniffio
soupsieve
SQLAlchemy
sqlparse
striprtf
sympy
tantivy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
trec-car-tools
typing-inspect
typing_extensions
tzdata
unlzw3
uritemplate
urllib3
warc3-wet
warc3-wet-clueweb09
Werkzeug
wrapt
WTForms
xxhash
yarl
zipp
zlib-state
